html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

html {
  width: 100%;
  height: 100%;
  background-image: url("Snake-Pit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
  background: white;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  font-size: 80px;
  font-family: 'Monofett', cursive;
}

.snake {
  background: black;
}

.apple {
  background: red;
}

body {
  text-align: center;
}

figure {
  display: inline-block;
  border: 5px solid black;
  position: relative;
}

.information {
  font-size: 20px;
  font-family: 'Monofett', cursive;
}

.links {
  font-size: 50px;
 }

.github {
  color: white;
}

.website {
  color: white;
}
 .linkedin {
   margin-left: 100px;
   margin-right: 100px;
   color: white;
 }
